name: Deploy via SSH

permissions:
  contents: read

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to SSH server
    runs-on: ubuntu-latest
    environment:
        name: production
        url: https://en.wikipedia.org/wiki/User:BsoykaBot

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          version: latest

      - name: Run deployment script
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ vars.SSH_USERNAME }}
          port: ${{ vars.SSH_PORT }}
          request_pty: true
          script_stop: true
          script: |
            cd "${{ vars.BOT_DIRECTORY }}"
            git reset --hard
            git pull
            ${{ vars.UV_PATH }} sync --no-dev
